@charset "utf-8";
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url(../fonts/glyphicons-halflings-regular.eot);
	src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}
.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.glyphicon-asterisk:before {
	content: "\2a"
}
.glyphicon-plus:before {
	content: "\2b"
}
.glyphicon-eur:before, .glyphicon-euro:before {
	content: "\20ac"
}
.glyphicon-minus:before {
	content: "\2212"
}
.glyphicon-cloud:before {
	content: "\2601"
}
.glyphicon-envelope:before {
	content: "\2709"
}
.glyphicon-pencil:before {
	content: "\270f"
}
.glyphicon-glass:before {
	content: "\e001"
}
.glyphicon-music:before {
	content: "\e002"
}
.glyphicon-search:before {
	content: "\e003"
}
.glyphicon-heart:before {
	content: "\e005"
}
.glyphicon-star:before {
	content: "\e006"
}
.glyphicon-star-empty:before {
	content: "\e007"
}
.glyphicon-user:before {
	content: "\e008"
}
.glyphicon-film:before {
	content: "\e009"
}
.glyphicon-th-large:before {
	content: "\e010"
}
.glyphicon-th:before {
	content: "\e011"
}
.glyphicon-th-list:before {
	content: "\e012"
}
.glyphicon-ok:before {
	content: "\e013"
}
.glyphicon-remove:before {
	content: "\e014"
}
.glyphicon-zoom-in:before {
	content: "\e015"
}
.glyphicon-zoom-out:before {
	content: "\e016"
}
.glyphicon-off:before {
	content: "\e017"
}
.glyphicon-signal:before {
	content: "\e018"
}
.glyphicon-cog:before {
	content: "\e019"
}
.glyphicon-trash:before {
	content: "\e020"
}
.glyphicon-home:before {
	content: "\e021"
}
.glyphicon-file:before {
	content: "\e022"
}
.glyphicon-time:before {
	content: "\e023"
}
.glyphicon-road:before {
	content: "\e024"
}
.glyphicon-download-alt:before {
	content: "\e025"
}
.glyphicon-download:before {
	content: "\e026"
}
.glyphicon-upload:before {
	content: "\e027"
}
.glyphicon-inbox:before {
	content: "\e028"
}
.glyphicon-play-circle:before {
	content: "\e029"
}
.glyphicon-repeat:before {
	content: "\e030"
}
.glyphicon-refresh:before {
	content: "\e031"
}
.glyphicon-list-alt:before {
	content: "\e032"
}
.glyphicon-lock:before {
	content: "\e033"
}
.glyphicon-flag:before {
	content: "\e034"
}
.glyphicon-headphones:before {
	content: "\e035"
}
.glyphicon-volume-off:before {
	content: "\e036"
}
.glyphicon-volume-down:before {
	content: "\e037"
}
.glyphicon-volume-up:before {
	content: "\e038"
}
.glyphicon-qrcode:before {
	content: "\e039"
}
.glyphicon-barcode:before {
	content: "\e040"
}
.glyphicon-tag:before {
	content: "\e041"
}
.glyphicon-tags:before {
	content: "\e042"
}
.glyphicon-book:before {
	content: "\e043"
}
.glyphicon-bookmark:before {
	content: "\e044"
}
.glyphicon-print:before {
	content: "\e045"
}
.glyphicon-camera:before {
	content: "\e046"
}
.glyphicon-font:before {
	content: "\e047"
}
.glyphicon-bold:before {
	content: "\e048"
}
.glyphicon-italic:before {
	content: "\e049"
}
.glyphicon-text-height:before {
	content: "\e050"
}
.glyphicon-text-width:before {
	content: "\e051"
}
.glyphicon-align-left:before {
	content: "\e052"
}
.glyphicon-align-center:before {
	content: "\e053"
}
.glyphicon-align-right:before {
	content: "\e054"
}
.glyphicon-align-justify:before {
	content: "\e055"
}
.glyphicon-list:before {
	content: "\e056"
}
.glyphicon-indent-left:before {
	content: "\e057"
}
.glyphicon-indent-right:before {
	content: "\e058"
}
.glyphicon-facetime-video:before {
	content: "\e059"
}
.glyphicon-picture:before {
	content: "\e060"

}
.glyphicon-map-marker:before {
	content: "\e062"
}
.glyphicon-adjust:before {
	content: "\e063"
}
.glyphicon-tint:before {
	content: "\e064"
}
.glyphicon-edit:before {
	content: "\e065"
}
.glyphicon-share:before {
	content: "\e066"
}
.glyphicon-check:before {
	content: "\e067"
}
.glyphicon-move:before {
	content: "\e068"
}
.glyphicon-step-backward:before {
	content: "\e069"
}
.glyphicon-fast-backward:before {
	content: "\e070"
}
.glyphicon-backward:before {
	content: "\e071"
}
.glyphicon-play:before {
	content: "\e072"
}
.glyphicon-pause:before {
	content: "\e073"
}
.glyphicon-stop:before {
	content: "\e074"
}
.glyphicon-forward:before {
	content: "\e075"
}
.glyphicon-fast-forward:before {
	content: "\e076"
}
.glyphicon-step-forward:before {
	content: "\e077"
}
.glyphicon-eject:before {
	content: "\e078"
}
.glyphicon-chevron-left:before {
	content: "\e079"
}
.glyphicon-chevron-right:before {
	content: "\e080"
}
.glyphicon-plus-sign:before {
	content: "\e081"
}
.glyphicon-minus-sign:before {
	content: "\e082"
}
.glyphicon-remove-sign:before {
	content: "\e083"
}
.glyphicon-ok-sign:before {
	content: "\e084"
}
.glyphicon-question-sign:before {
	content: "\e085"
}
.glyphicon-info-sign:before {
	content: "\e086"
}
.glyphicon-screenshot:before {
	content: "\e087"
}
.glyphicon-remove-circle:before {
	content: "\e088"
}
.glyphicon-ok-circle:before {
	content: "\e089"
}
.glyphicon-ban-circle:before {
	content: "\e090"
}
.glyphicon-arrow-left:before {
	content: "\e091"
}
.glyphicon-arrow-right:before {
	content: "\e092"
}
.glyphicon-arrow-up:before {
	content: "\e093"
}
.glyphicon-arrow-down:before {
	content: "\e094"
}
.glyphicon-share-alt:before {
	content: "\e095"
}
.glyphicon-resize-full:before {
	content: "\e096"
}
.glyphicon-resize-small:before {
	content: "\e097"
}
.glyphicon-exclamation-sign:before {
	content: "\e101"
}
.glyphicon-gift:before {
	content: "\e102"
}
.glyphicon-leaf:before {
	content: "\e103"
}
.glyphicon-fire:before {
	content: "\e104"
}
.glyphicon-eye-open:before {
	content: "\e105"
}
.glyphicon-eye-close:before {
	content: "\e106"
}
.glyphicon-warning-sign:before {
	content: "\e107"
}
.glyphicon-plane:before {
	content: "\e108"
}
.glyphicon-calendar:before {
	content: "\e109"
}
.glyphicon-random:before {
	content: "\e110"
}
.glyphicon-comment:before {
	content: "\e111"
}
.glyphicon-magnet:before {
	content: "\e112"
}
.glyphicon-chevron-up:before {
	content: "\e113"
}
.glyphicon-chevron-down:before {
	content: "\e114"
}
.glyphicon-retweet:before {
	content: "\e115"
}
.glyphicon-shopping-cart:before {
	content: "\e116"
}
.glyphicon-folder-close:before {
	content: "\e117"
}
.glyphicon-folder-open:before {
	content: "\e118"
}
.glyphicon-resize-vertical:before {
	content: "\e119"
}
.glyphicon-resize-horizontal:before {
	content: "\e120"
}
.glyphicon-hdd:before {
	content: "\e121"
}
.glyphicon-bullhorn:before {
	content: "\e122"
}
.glyphicon-bell:before {
	content: "\e123"
}
.glyphicon-certificate:before {
	content: "\e124"
}
.glyphicon-thumbs-up:before {
	content: "\e125"
}
.glyphicon-thumbs-down:before {
	content: "\e126"
}
.glyphicon-hand-right:before {
	content: "\e127"
}
.glyphicon-hand-left:before {
	content: "\e128"
}
.glyphicon-hand-up:before {
	content: "\e129"
}
.glyphicon-hand-down:before {
	content: "\e130"
}
.glyphicon-circle-arrow-right:before {
	content: "\e131"
}
.glyphicon-circle-arrow-left:before {
	content: "\e132"
}
.glyphicon-circle-arrow-up:before {
	content: "\e133"
}
.glyphicon-circle-arrow-down:before {
	content: "\e134"
}
.glyphicon-globe:before {
	content: "\e135"
}
.glyphicon-wrench:before {
	content: "\e136"
}
.glyphicon-tasks:before {
	content: "\e137"
}
.glyphicon-filter:before {
	content: "\e138"
}
.glyphicon-briefcase:before {
	content: "\e139"
}
.glyphicon-fullscreen:before {
	content: "\e140"
}
.glyphicon-dashboard:before {
	content: "\e141"
}
.glyphicon-paperclip:before {
	content: "\e142"
}
.glyphicon-heart-empty:before {
	content: "\e143"
}
.glyphicon-link:before {
	content: "\e144"
}
.glyphicon-phone:before {
	content: "\e145"
}
.glyphicon-pushpin:before {
	content: "\e146"
}
.glyphicon-usd:before {
	content: "\e148"
}
.glyphicon-gbp:before {
	content: "\e149"
}
.glyphicon-sort:before {
	content: "\e150"
}
.glyphicon-sort-by-alphabet:before {
	content: "\e151"
}
.glyphicon-sort-by-alphabet-alt:before {
	content: "\e152"
}
.glyphicon-sort-by-order:before {
	content: "\e153"
}
.glyphicon-sort-by-order-alt:before {
	content: "\e154"
}
.glyphicon-sort-by-attributes:before {
	content: "\e155"
}
.glyphicon-sort-by-attributes-alt:before {
	content: "\e156"
}
.glyphicon-unchecked:before {
	content: "\e157"
}
.glyphicon-expand:before {
	content: "\e158"
}
.glyphicon-collapse-down:before {
	content: "\e159"
}
.glyphicon-collapse-up:before {
	content: "\e160"
}
.glyphicon-log-in:before {
	content: "\e161"
}
.glyphicon-flash:before {
	content: "\e162"
}
.glyphicon-log-out:before {
	content: "\e163"
}
.glyphicon-new-window:before {
	content: "\e164"
}
.glyphicon-record:before {
	content: "\e165"
}
.glyphicon-save:before {
	content: "\e166"
}
.glyphicon-open:before {
	content: "\e167"
}
.glyphicon-saved:before {
	content: "\e168"
}
.glyphicon-import:before {
	content: "\e169"
}
.glyphicon-export:before {
	content: "\e170"
}
.glyphicon-send:before {
	content: "\e171"
}
.glyphicon-floppy-disk:before {
	content: "\e172"
}
.glyphicon-floppy-saved:before {
	content: "\e173"
}
.glyphicon-floppy-remove:before {
	content: "\e174"
}
.glyphicon-floppy-save:before {
	content: "\e175"
}
.glyphicon-floppy-open:before {
	content: "\e176"
}
.glyphicon-credit-card:before {
	content: "\e177"
}
.glyphicon-transfer:before {
	content: "\e178"
}
.glyphicon-cutlery:before {
	content: "\e179"
}
.glyphicon-header:before {
	content: "\e180"
}
.glyphicon-compressed:before {
	content: "\e181"
}
.glyphicon-earphone:before {
	content: "\e182"
}
.glyphicon-phone-alt:before {
	content: "\e183"
}
.glyphicon-tower:before {
	content: "\e184"
}
.glyphicon-stats:before {
	content: "\e185"
}
.glyphicon-sd-video:before {
	content: "\e186"
}
.glyphicon-hd-video:before {
	content: "\e187"
}
.glyphicon-subtitles:before {
	content: "\e188"
}
.glyphicon-sound-stereo:before {
	content: "\e189"
}
.glyphicon-sound-dolby:before {
	content: "\e190"
}
.glyphicon-sound-5-1:before {
	content: "\e191"
}
.glyphicon-sound-6-1:before {
	content: "\e192"
}
.glyphicon-sound-7-1:before {
	content: "\e193"
}
.glyphicon-copyright-mark:before {
	content: "\e194"
}
.glyphicon-registration-mark:before {
	content: "\e195"
}
.glyphicon-cloud-download:before {
	content: "\e197"
}
.glyphicon-cloud-upload:before {
	content: "\e198"
}
.glyphicon-tree-conifer:before {
	content: "\e199"
}
.glyphicon-tree-deciduous:before {
	content: "\e200"
}
.glyphicon-cd:before {
	content: "\e201"
}
.glyphicon-save-file:before {
	content: "\e202"
}
.glyphicon-open-file:before {
	content: "\e203"
}
.glyphicon-level-up:before {
	content: "\e204"
}
.glyphicon-copy:before {
	content: "\e205"
}
.glyphicon-paste:before {
	content: "\e206"
}
.glyphicon-alert:before {
	content: "\e209"
}
.glyphicon-equalizer:before {
	content: "\e210"
}
.glyphicon-king:before {
	content: "\e211"
}
.glyphicon-queen:before {
	content: "\e212"
}
.glyphicon-pawn:before {
	content: "\e213"
}
.glyphicon-bishop:before {
	content: "\e214"
}
.glyphicon-knight:before {
	content: "\e215"
}
.glyphicon-baby-formula:before {
	content: "\e216"
}
.glyphicon-tent:before {
	content: "\26fa"
}
.glyphicon-blackboard:before {
	content: "\e218"
}
.glyphicon-bed:before {
	content: "\e219"
}
.glyphicon-apple:before {
	content: "\f8ff"
}
.glyphicon-erase:before {
	content: "\e221"
}
.glyphicon-hourglass:before {
	content: "\231b"
}
.glyphicon-lamp:before {
	content: "\e223"
}

.glyphicon-duplicate:before {
	content: "\e224"
}
.glyphicon-piggy-bank:before {
	content: "\e225"
}
.glyphicon-scissors:before {
	content: "\e226"
}
.glyphicon-bitcoin:before {
	content: "\e227"
}
.glyphicon-yen:before {
	content: "\00a5"
}
.glyphicon-ruble:before {
	content: "\20bd"
}
.glyphicon-scale:before {
	content: "\e230"
}
.glyphicon-ice-lolly:before {
	content: "\e231"
}
.glyphicon-ice-lolly-tasted:before {
	content: "\e232"
}
.glyphicon-education:before {
	content: "\e233"
}
.glyphicon-option-horizontal:before {
	content: "\e234"
}
.glyphicon-option-vertical:before {
	content: "\e235"
}
.glyphicon-menu-hamburger:before {
	content: "\e236"
}
.glyphicon-modal-window:before {
	content: "\e237"
}
.glyphicon-oil:before {
	content: "\e238"
}
.glyphicon-grain:before {
	content: "\e239"
}
.glyphicon-sunglasses:before {
	content: "\e240"
}
.glyphicon-text-size:before {
	content: "\e241"
}
.glyphicon-text-color:before {
	content: "\e242"
}
.glyphicon-text-background:before {
	content: "\e243"
}
.glyphicon-object-align-top:before {
	content: "\e244"
}
.glyphicon-object-align-bottom:before {
	content: "\e245"
}
.glyphicon-object-align-horizontal:before {
	content: "\e246"
}
.glyphicon-object-align-left:before {
	content: "\e247"
}
.glyphicon-object-align-vertical:before {
	content: "\e248"
}
.glyphicon-object-align-right:before {
	content: "\e249"
}
.glyphicon-triangle-right:before {
	content: "\e250"
}
.glyphicon-triangle-left:before {
	content: "\e251"
}
.glyphicon-triangle-bottom:before {
	content: "\e252"
}
.glyphicon-triangle-top:before {
	content: "\e253"
}
.glyphicon-console:before {
	content: "\e254"
}
.glyphicon-superscript:before {
	content: "\e255"
}
.glyphicon-subscript:before {
	content: "\e256"
}
.glyphicon-menu-left:before {
	content: "\e257"
}
.glyphicon-menu-right:before {
	content: "\e258"
}
.glyphicon-menu-down:before {
	content: "\e259"
}
.glyphicon-menu-up:before {
	content: "\e260"
}
/**字体图标 End**/

/**初始**/
* {outline: 0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
html {font: normal 14px "Microsoft YaHei";-webkit-text-size-adjust: 100%}
body {padding: 0;margin: 0 auto;font-size: 14px;color: #666;background-color: #fff;font-family: "Microsoft YaHei";
-webkit-text-size-adjust: none;
/*取出点击出现半透明的灰色背景*/
-webkit-tap-highlight: rgba(0,0,0,0); 
/*控制内容的可选择性*/
-webkit-user-select: none; 
-ms-user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {-webkit-appearance: none;}
ul, 
li, 
form, 
dl, 
dt, 
dd, 
div, 
ol,
figure,
aside{padding: 0;margin: 0;}
.ul,
 .ul li {list-style: none;}
table {border-collapse: collapse;border-spacing: 0}
table td {border-collapse: collapse;font-size: 14px;}
select, input, textarea {font-size: 14px;color: #333;border-radius: 0;-webkit-border-radius: 0;font-family: "Microsoft YaHei";}
img{border: none;max-width: 100%;vertical-align: middle;}
a {color: #333;text-decoration: none;noline:-webkit-tap-highlight-color:rgba(0,0,0,0);/* 去掉链接触摸高亮 */}  
a:hover {color: #47a0ec;text-decoration: none;}
a:focus {color: #333;outline: none;-moz-outline: none;}
a:active {color: #333;}
pre{
	white-space:pre-wrap;
	white-space:-moz-pre-wrap;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word;
	margin:0;
	font-family: "Microsoft YaHei";
	text-align:justify;
	text-justify:inter-ideograph;
	}
	
.clear {clear: both;height: 0px;overflow: hidden;zoom: 0;}
.clearfix {*zoom:1;}/*IE/7/6*/
.clearfix:after { content:"\200B"; display:block; height:0; clear:both; } 

.dot{display: block;white-space: nowrap; text-overflow: ellipsis;overflow: hidden;}
/*2行文本省略号*/
.dot2 {display: -webkit-box;display: box;overflow: hidden;text-overflow: ellipsis;word-break: break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
/*3行文本省略号*/
.dot3 {display: -webkit-box;display: box;overflow: hidden;text-overflow: ellipsis;word-break: break-all;-webkit-box-orient: vertical;-webkit-line-clamp: 3;}

.ytable{ display:table; width:100%;}
.ytable-cell{ display:table-cell; vertical-align:middle;}

/*垂直居中,容器设置宽高*/
.ycenter {align-items: center;
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */}
/*水平居中,容器设置宽高*/
.xcenter {justify-content: center;
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */}
/*盒子布局*/
.flexbox{display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex;}
/*弹性布局水平垂直居中 兼容性高*/
.xycenterbox{
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
	-webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}
/*弹性布局水平居中 兼容性高*/
.xcenterbox{
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}
/*弹性布局垂直居中 兼容性高*/
.ycenterbox{
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box; /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox; /* 混合版本语法: IE 10 */
    display: -webkit-flex; /* 新版本语法: Chrome 21+ */
    display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.Ispic{ background-repeat:no-repeat; background-position:center center; background-size:cover;}

:after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.nM{ margin:0;}
.nP{ padding:0;}
/**字体大小**/
.fz_24{ font-size:24px;}
.fz_20{ font-size:20px;}
.fz_18{ font-size:18px;}
.fz_16{ font-size:16px;}
.fz_14{ font-size:14px;}
.fz_12{ font-size:12px;}
/**初始 End**/

.fl{ float:left;}
.fr{ float:right;}
.w22{ width:22%; padding-bottom:4%;}
.w75{ width:75%; padding-bottom:4%;}
@media(max-width:1024px){
.fl,
.fr{ float:none;}
.w22,
.w75{ width:auto; padding-bottom:2%;}
}
/*用于图片变黑白*/
.grayscale{filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");-webkit-filter:grayscale(1);filter:grayscale(1);filter:gray}.grayscale.grayscale-fade{transition:filter .5s}@media screen and (-webkit-min-device-pixel-ratio:0){.grayscale.grayscale-fade{-webkit-transition:-webkit-filter .5s;transition:-webkit-filter .5s}}.grayscale.grayscale-fade:hover,.grayscale.grayscale-off{-webkit-filter:grayscale(0);filter:grayscale(0)}.grayscale.grayscale-replaced{-webkit-filter:none;filter:none}.grayscale.grayscale-replaced>svg{-webkit-transition:opacity .5s ease;transition:opacity .5s ease;opacity:1}.grayscale.grayscale-replaced.grayscale-fade:hover>svg,.grayscale.grayscale-replaced.grayscale-off>svg{opacity:0;}
/*↑↑↑如修改栏目左右结构宽度比例 请不要修改这里的  在style.css 加上修改*/
/**页面框架 End**/
.auto{ margin:0 auto;}
.auto_1280{ max-width:1280px;}
@media(max-width:1280px){.auto_1280{ padding:0 2%;}}
.auto_1200{ max-width:1200px;}
@media(max-width:1200px){.auto_1200{ padding:0 2%;}}
.auto_1180{ max-width:1180px;}
@media(max-width:1180px){.auto_1180{ padding:0 2%;}}
.auto_1150{ max-width:1150px;}
@media(max-width:1150px){.auto_1150{ padding:0 2%;}}
.auto_1100{ max-width:1100px;}
@media(max-width:1100px){.auto_1100{ padding:0 2%;}}
.auto_1050{ max-width:1050px;}
@media(max-width:1050px){.auto_1050{ padding:0 2%;}}
.auto_1000{ max-width:1000px;}
@media(max-width:1000px){.auto_1000{ padding:0 2%;}}
.auto_950{ max-width:950px;}
@media(max-width:950px){.auto_950{ padding:0 2%;}}

/*导航公共样式*/
.header-menu li.aon em > a{ color:#82c4c7;}
.header-menu li em{ display:block; font-style:normal; text-align:center;}
.header-menu li em a{ display:block;}
.header-menu li .sub dt{ line-height:40px;}
.header-menu li .sub dt a{display:block;white-space:nowrap; text-overflow:ellipsis; overflow:hidden; padding:0 10px;}
.header-menu li .sub dt a:hover{ background:#009; color:#fff;}
.header-menu .sub-has-sub dl{display:none;}

@media(min-width:1025px){
#header-menu{ display:none;}
.relative{ position:relative; z-index:100;}
.header-menu li{ float:left; }
.header-menu li .sub{position:absolute;  /*top:-400%;*/}
.header-menu li .sub{ opacity:0;overflow:hidden; }
.header-menu li.aon .sub{ opacity:1; }

.no-fullbground .sub{background-color:rgba(255,255,255,0.9)}
.no-fullbground .sub-left{left:0;}
.no-fullbground .sub-right{right:0;}
.sub-horizontal .sub .sub-menu > dl{ float:left;}
.sub-horizontal .sub-right >dl{ float:right;}
.sub-horizontal .sub-menu >dl dt{ float:left;}
/*.sub-horizontal .sub-right-txt-r .sub-menu >dl{ text-align:right; float:right; }
.sub-horizontal .sub-right-txt-r .sub-menu >dl dt{ float:none; display:inline-block;}*/
.sub-horizontal .sub-right .sub-menu >dl{ text-align:right; float:right; }
.sub-horizontal .sub-right .sub-menu >dl dt{ float:none; display:inline-block;}

.sub-vertical .has-sub{ position:relative; z-index:100;}
.sub-vertical .sub{background-color:rgba(255,255,255,0.9); left:0; width:100%;}
.sub-vertical .sub-row-2{ width:200%;}
.sub-vertical .sub-row-3{ width:300%;}
.sub-vertical .sub-row-2 .sub-menu dt{ float:left; width:50%;}
.sub-vertical .sub-row-3 .sub-menu dt{ float:left; width:33.3333333%;}
.sub-vertical .sub-has-sub{ position:relative;}
.sub-vertical .sub-has-sub dl{ background-color:rgba(255,255,255,0.9);position:absolute; left:100%; top:0; width:100%;}
.sub-vertical dt.aon > a{background:#009; color:#fff;}
.sub-vertical .sub-position-right{left:auto; right:0;}
.sub-vertical .sub-position-right .sub-has-sub dl{ left:auto; right:100%;}

.sub-txt-img .sub{ width:300%; }
.sub-txt-img .sub-intro{padding:5px; overflow:hidden;}
.sub-txt-img .sub-intro .sub-left{ float:left; width:40%;}
.sub-txt-img .sub-intro .sub-right{ float:right; width:56%;}
.sub-txt-img .sub-img img{ display:block; width:100%;}
.sub-txt-img .sub-txt{ font-size:12px; line-height:24px;}

.fullbground .sub{}
.fullbground .sub-menu >dl,
.fullbground .sub-menu >dl dt{ float:left;}
.sub-menu-layer{ position:absolute; left:0; top:100%; width:100%;background-color:rgba(255,255,255,0.9);}
.sub-slideDown .sub-menu-layer{ display:none; /*transition:0.3s;*/}
}
/*图标*/
.has-icon-v{text-align:center;}
.has-icon-v i{ display:block;  padding:10px 0;}
.has-icon-v i img{ width:50px; height:50px; }
.has-icon-h i{ display:inline-block; vertical-align:middle;}
.has-icon-h i img{ width:20px; height:20px; margin-right:5px;}
/*图标 end*/
@media(max-width:1024px){
.header-menu{ display:none;}
.Public_nav_style #header-menu,
.Public_nav_style #header-menu ul{position:fixed;top:0;height:100%; z-index:100;right:-100%; opacity:0;transition:opacity 0.3s;}
.Public_nav_style #header-menu{ background-color:rgba(0,0,0,0.5); width:100%; }
.Public_nav_style #header-menu ul{   width:60%; max-width:280px; background:rgba(32, 151, 155, 0.9); height:100%; max-height:100%; overflow:auto;padding:50px 2% 0; transition:0.3s;}
.Public_nav_style #header-menu.header-menu-show,
.Public_nav_style #header-menu.header-menu-show ul{ right:0;opacity:1;}
#header-menu li .sub{ display:none;}
#header-menu li{ line-height:40px; }
#header-menu li em{ font-style:normal; display:block; font-size:16px;border-bottom:1px solid rgba(255,255,255,0.3);}
#header-menu li a{display:block;}
#header-menu li em a{ border-bottom:1px solid rgba(0,0,0,0.3); font-weight:bold; padding:0 10px;}
#header-menu li:last-child em,
#header-menu li:last-child em a{ border-bottom:0;}
#header-menu li a:hover,
#header-menu li a{ color:#fff;}
#header-menu li.has-sub em{ position:relative;}
#header-menu li.has-sub em::before{ position:absolute; content:''; width:100%; height:100%; left:0; top:0; z-index:2; background-color:transparent;}
#header-menu li.has-sub em .op{position:absolute; width:15px; height:15px; right:3%; top:50%; margin-top:-6px;display:none; transition:0.3s;}
#header-menu li.has-sub.clickon em .op{ transform:rotate(45deg);}
#header-menu li.has-sub em .op::before,
#header-menu li.has-sub em .op::after{  position:absolute; content:'';  background:#fff;}
#header-menu li.has-sub em .op::before{width:100%; height:3px;left:0; top:6px;}
#header-menu li.has-sub em .op::after{ width:3px; left:6px; top:0; height:100%;}
.Public_nav_style #header-menu li.has-sub em::after{position:absolute; content:''; right:2%; border:6px solid transparent; border-top-color:#fff; top:50%; margin-top:-3px;}
.Public_nav_style #header-menu li.clickon em::after{border-bottom-color:#fff;border-top-color:transparent;margin-top:-9px;}
.Public_nav_style #header-menu li.clickon em a{ background:rgba(0,0,0,0.2);}
#header-menu li .sub-menu dt.has-dt{ position:relative;}
#header-menu li .sub-menu dt.has-dt::before{position:absolute; content:''; width:100%; height:100%; left:0; top:0; background-color:transparent;}
#header-menu li .sub-menu dt a{padding:0 10px; border-bottom:1px dashed rgba(0,0,0,0.5);display:block;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;  }
#header-menu li .sub-menu dt:last-child >　a{ border-bottom:0;}
#header-menu li .sub-has-sub{ position:relative;}
#header-menu li .sub-has-sub i{ position:absolute; left:0; top:0; height:40px; width:100%; background-color:transparent; z-index:2;}
.Public_nav_style #header-menu li .sub-has-sub i::before,
.Public_nav_style #header-menu li .sub-has-sub i::after{ position:absolute; content:''; top:50%; background:#fff;}
.Public_nav_style #header-menu li .sub-has-sub i::before{ width:10px; height:2px; margin-top:-1px; right:5px;}
.Public_nav_style #header-menu li .sub-has-sub i::after{ width:2px; height:10px; margin-top:-5px; right:9px;}
.Public_nav_style #header-menu li .clickon > i::after{ display:none;}
.Public_nav_style #header-menu li .clickon > a{ background-color:rgba(0,0,0,0.2);}

.Public_nav_style #open_menu{ position:absolute; right:2%; width:40px; height:40px; border:2px solid #20979b; border-radius:50%;  top:5px; z-index:200;}
#open_menu i,
#open_menu i::before,
#open_menu i::after{ position:absolute;}
.Public_nav_style #open_menu i,
.Public_nav_style #open_menu i::before,
.Public_nav_style #open_menu i::after{background:#20979b;}
#open_menu i{ top:50%;}
.Public_nav_style #open_menu i{ width:60%; left:20%;  margin-top:-1px; height:2px;}
#open_menu i::before,
#open_menu i::after{ left:0; width:100%; height:100%; content:'';transition:transform 0.3s;}
#open_menu i::before{ top:6px;}
#open_menu i::after{top:-6px;}

.Public_nav_style #open_menu.open_menu_on{ border-color:#fff;}
#open_menu.open_menu_on i{ background:none !important;}
.Public_nav_style #open_menu.open_menu_on i::before,
.Public_nav_style #open_menu.open_menu_on i::after{ background:#fff; margin-top:0;}
#open_menu.open_menu_on i::before,
#open_menu.open_menu_on i::after{  top:0 !important;}
#open_menu.open_menu_on i::before{ transform:rotate(45deg);}
#open_menu.open_menu_on i::after{ transform:rotate(-45deg);}
}
/*导航公共样式 end*/
/*by 20190122*/