/*Top002070 */
.Top002070 {
  /* position: fixed; */
  left: 0;
  top: 0;
  width: 100%;
  /* background-color: #fff; */
  border-top: 2px solid #ab905b;
  z-index: 48;
  background-image: url(../images/bg1.jpg);
}

.Top002070 .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 3%; */
  padding: 8px 0 0;
}

.Top002070 .header-left {
  max-width: 128px;
}

.Top002070 .header-left a img {
  height: 72px;
}

.Top002070 .header-right {
  /* position: absolute;
  top: 50%;
  right: 3%;
  margin-top: -20px; */
}

.Top002070 .header-right dd {
  position: relative;
  float: left;
}

.Top002070 .header-right dd>a {
  display: block;
  height: 40px;
  line-height: 40px;
}

@media(min-width:1025px) {
  .Top002070 .header-mid {
    /* margin-right: 135px;
    margin-left: 25%; */
    width: 60%;
  }
}

.Top002070 .top-language a {
  position: relative;
  padding: 0 15px;
}

.Top002070 .top-language a:before,
.Top002070 .top-language a:after {
  position: absolute;
  content: '';
  top: 50%;
  margin-top: -2.5px;
}

.Top002070 .top-language a:before {
  left: 0;
  width: 2px;
  border-right: 1px dotted #8c8c8c;
  height: 5px;
}

.Top002070 .top-language a:after {
  right: 0;
  border: 5px solid transparent;
  border-top-color: #8c8c8c;
}

.Top002070 .open-search {
  width: 40px;
  background: url(../images/Top002070-search_btn.png) no-repeat center center;
}

.Top002070 .search-box {
  position: absolute;
  width: 0;
  overflow: hidden;
  right: 0;
  top: 0;
  background: #eee;
  transition: 0.3s;
  opacity: 0;
}

.Top002070 .search-box .text {
  width: 100%;
  background: none;
  height: 40px;
  border: none;
  line-height: 40px;
  padding: 0 40px 0 10px;
}

.Top002070 .search-box .btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 40px;
  background: url(../images/Top002070-search_btn.png) no-repeat center center;
}

.Top002070 .top-search-on .search-box {
  width: 200px;
  opacity: 1;
}

.Top002070 .header-menu li em {
  line-height: 40px;
  padding: 20px 0;
  font-size: 16px;
  position: relative;
}

.Top002070 .header-menu li em::after {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1.5px;
  content: '';
  width: 3px;
  height: 3px;
  background-color: #bdbdbd;
}

.Top002070 .header-menu li:hover em::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-bottom-color: #b48a56;
  bottom: 0;
  left: 50%;
  margin-left: -4px;
}

.Top002070 .header-menu li:last-child em a::after {
  display: none;
}

.Top002070 .header-menu li:hover em a,
.Top002070 .header-menu li.aon em a {
  color: #b48a56;
}

.Top002070 .header-menu li .sub {
  background: none;
}

.Top002070 .header-menu li .sub dt {
  margin-bottom: 1px;
  background: rgba(0, 0, 0, 0.3);
}

.Top002070 .header-menu li .sub dt a {
  text-align: center;
  color: #fff;
}

.Top002070 .header-menu li .sub dt a:hover {
  background: #b48a56;
}

@media(max-width:1024px) {
  .Top002070 .header {
    margin: 0 2%;
    height: 64px;
  }
  .Top002070 .header-left a img{
    height: 48px;
  }

  .Top002070 .header-right {
    position: absolute;
    z-index: 101;
    right: 2%;
  }

  .Top002070 .Public_nav_style #open_menu {
    position: relative;
    right: 0;
    top: auto;
    margin-left: 10px;
    border-radius: 0;
    background: #EEE4D8;
    height: 32px;
    border: none;
    margin-top: 4px;
  }

  .Top002070 #open_menu i::before,
  .Top002070 #open_menu i::after {
    background: #b48a56 !important;
  }

  .Top002070 #open_menu i {
    background: #b48a56;
    height: 3px;
    margin-top: -1.5px;
  }

  .Top002070 #header-menu ul {
    padding: 0;
    border-top: 82px solid #fff;
    background: rgb(179, 138, 85);
  }

  .Top002070 #header-menu li {
    text-align: center;
  }

  .Top002070 #header-menu li em a {
    padding: 5%;
    font-weight: normal;
    line-height: normal;
  }

  .Top002070 #header-menu li .sub dt {
    margin-bottom: 1px;
    background: rgba(0, 0, 0, 0.3);
  }

  .Top002070 #header-menu li .sub dt a {
    border-bottom: 0;
  }
}

/*Banner001948*/
.Banner001948 div {
  background-position: center top;
  height: 384px;
  background-repeat: no-repeat;
}

.Banner001948 div img {
  display: none;
}

@media(max-width:1000px) {
  .Banner001948 div {
    height: auto;
  }

  .Banner001948 div img {
    display: block;
    width: 100%;
  }
}

/*
 .Menu002252 为demo编号
 */
.Menu002252 {
  padding: 10px 0;
  text-align: center;
  overflow: hidden;
}

.Menu002252 a {
  font-size: 16px;
  display: block;
  padding: 10px;
  margin-bottom: 1px;
}


@media(min-width:768px) {
  .Menu002252 {
    padding: 25px 0 10px;
  }

  .Menu002252 a {
    display: inline-block;
    line-height: 30px;
    padding: 0 15px;
    min-width: 115px;
    overflow: hidden;
  }
}

@media(min-width:1024px) {
  .Menu002252 {
    padding: 36px 0 24px;
  }

  .Menu002252 ul {
    border-bottom: 1px dashed #666;
    padding: 2% 0;
  }

  .Menu002252 ul a {
    padding: 0 32px;
    line-height: 48px;
    position: relative;
    z-index: 1;
    min-width: 128px;
    border-right: 1px solid #888;
  }

  .Menu002252 ul a:nth-last-child(1) {
    border: none;
  }

  .Menu002136 ul:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 60%;
    top: 20%;
    background: #B2A79D;
    right: 0;
  }

  .Menu002252 a {
    display: inline-block;
    padding: 16px 24px;
    min-width: 128px;
  }
}

/*Floor002072 */
.Floor002072 {
  padding: 1% 0;
}

.Floor002072 .auto {
  border-bottom: 2px solid #ebeaef;
  padding-bottom: 5%;
  position: relative;
}

.Floor002072 .title {
  font-size: 18px;
  color: #000;
  padding-bottom: 3%;
}

.Floor002072 .title b {
  font-size: 34px;
  display: inline-block;
  padding-right: 10px;
  line-height: 26px;
  font-family: Tahoma, Geneva, sans-serif;
}

.Floor002072 .title b:after {
  width: 100%;
  content: '';
  display: block;
  height: 8px;
  margin-top: -4px;
  background-color: #efefef;
}

.Floor002072 .title span {
  display: block;
  padding-top: 12px;
}

.Floor002072 li {
  position: relative;
  padding: 4% 0 4% 52%;
}

.Floor002072 li:nth-child(2n) {
  padding-right: 52%;
  padding-left: 0;
}

.Floor002072 li .Ispic {
  position: absolute;
  left: 0;
  top: 0;
  width: 48%;
  height: 100%;
}

.Floor002072 li .Ispic img {
  display: none;
}

.Floor002072 li .Ispic aside {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.3s;
}

.Floor002072 li .Ispic span {
  position: absolute;
  left: 50%;
  margin-left: -66px;
  width: 132px;
  top: 50%;
  line-height: 40px;
  margin-top: -20px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.Floor002072 li .Ispic span::before,
.Floor002072 li .Ispic span::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #fff;
  left: 0;
  transition: 0.3s;
}

.Floor002072 li .Ispic span::before {
  top: -15px;
}

.Floor002072 li .Ispic span::after {
  bottom: -15px;
}

.Floor002072 li .Ispic:hover aside {
  opacity: 1;
}

.Floor002072 li .Ispic:hover span::before {
  top: 0;
}

.Floor002072 li .Ispic:hover span::after {
  bottom: 0;
}

.Floor002072 li:nth-child(2n) .Ispic {
  left: auto;
  right: 0;
}

.Floor002072 li p {
  margin: 0;
  line-height: 24px;
  color: #4e4e4e;
  overflow: hidden;
}

.Floor002072 li h4 {
  font-size: 24px;
  font-weight: normal;
  margin: 5% 0;
}

.Floor002072 li time {
  width: 100px;
  height: 100px;
  border: 2px solid #8d6c4f47;
  position: relative;
  display: block;
}

.Floor002072 li time i {
  font-style: normal;
  color: #b48a56;
  font-size: 30px;
  font-family: Tahoma, Geneva, sans-serif;
  position: absolute;
  left: 10%;
  bottom: -2px;
  border-bottom: 2px solid #b48a56;
}

@media(max-width:1000px) and (min-width:769px) {
  .Floor002072 .title b {
    font-size: 24px;
  }
}

@media(max-width:1000px) {
  .Floor002072 li time {
    width: 70px;
    height: 70px;
  }
}

@media(max-width:768px) {
  .Floor002072 .title {
    padding-bottom: 5%;
    text-align: center;
  }

  .Floor002072 li h4 {
    font-size: 18px;
  }

  .Floor002072 li p {
    height: 48px;
    line-height: 24px;
  }
}

@media(max-width:480px) {
  .Floor002072 .title b {
    font-size: 28px;
  }

  .Floor002072 li h4 {
    font-size: 16px;
  }

  .Floor002072 li time {
    width: 50px;
    height: 50px;
  }
}

@media(max-width:375px) {
  .Floor002072 li {
    padding: 0 0 3% 0 !important;
  }

  .Floor002072 li .Ispic {
    position: relative;
    width: auto;
    display: block;
    padding-bottom: 50%;
    height: auto;
    margin-bottom: 3%;
  }
}

/*Bottom001947*/
.Bottom001947 {
  background: url(../uploadfiles/bg4.jpg) no-repeat center top;
  background-size: cover;
  padding-top: 1px;
  text-align: center;
  font-size: 14px;
}

.Bottom001947 footer {
  padding: 2% 0;
}

.Bottom001947 .logo a img {
  max-height: 96px;
}

.Bottom001947 footer p {
  margin-bottom: 0;
  color: #7a5432;
}

.Bottom001947 footer span {
  display: block;
  padding-bottom: 5px;
}

.Bottom001947 footer a {
  color: #7a5432;
  display: inline-block;
}

.Bottom001947 footer i {
  font-style: normal;
  margin: 0 5px;
  color: #ede1e1;
}

/*
 .RighInfo002257 为demo编号
 */


.RighInfo002257 p {
  line-height: 1.28;
  color: #4e4e4e;
}

.RighInfo002257 .item {
  border-bottom: 1px dashed #d0d0d0;
  padding: 25px 0;
  max-width: 462px;
  margin: 0 auto;
}

.RighInfo002257 .item .pic .pic-inner,
.RighInfo002257 .item .word .word-inner {
  display: table-cell;
  vertical-align: middle;
}

.RighInfo002257 .item .h1 {
  font-size: 16px;
  margin: 0;
}

.RighInfo002257 .item .con {
  color: #666;
  font-size: 14px;
  margin: 10px 0 0;
}

@media only screen and (max-width: 767px) {
  .RighInfo002257 .item .word {
    padding-bottom: 15px;
  }
}

@media only screen and (min-width:768px) {
  .RighInfo002257 .item {
    max-width: none;
    padding: 38px 0;
  }

  .RighInfo002257 .item .pic {
    float: left;
    width: 52%;
    text-align: left;
  }

  .RighInfo002257 .item .word {
    float: right;
    width: 46%;
  }

  .RighInfo002257 .item.odd .pic {
    float: right;
  }

  .RighInfo002257 .item.odd .word {
    float: left;
  }
}

/*
 .PicList002239 为demo编号
 */
.PicList002239 {
  /* padding: 3% 0; */
}

.PicList002239 li {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 3%;
  float: left;
}

@media(min-width:769px) {
  .PicList002239 li {
    margin-right: 5%;
    width: 30%;
  }

  .PicList002239 li:nth-child(3n) {
    margin-right: 0;
  }
}

.PicList002239 li .Ispic {
  padding-bottom: 68%;
  background-size: contain;
}

.PicList002239 li dl {
  position: relative;
  margin: 0 10px;
  padding-right: 114px;
  line-height: 50px;
}

.PicList002239 li dd {
  position: absolute;
  right: 0;
  top: 0;
  color: #999;
  padding-left: 30px;
  background: url(../images/PicList002239-icon.png) no-repeat left center;
}

.PicList002239 li dt {
  font-size: 16px;
  color: #c49162;
}

@media(max-width:768px) {
  .PicList002239 li {
    width: 48%;
    margin-right: 4%;
  }

  .PicList002239 li:nth-child(2n) {
    margin-right: 0;
  }
}

/*TextList002148 */

.TextList002148 li {
  overflow: hidden;
  padding: 2% 48px 4% 176px;
  position: relative;
  border-bottom: 1px dashed #b2a79d;
}

.TextList002148 li:after {
  position: absolute;
  content: '';
  right: 0;
  top: 0;
  width: 48px;
  height: 100%;
  background: url(../images/TextList002148-more.gif) no-repeat center center transparent;
  transition: 0.2s;
}

.TextList002148 li:hover::after {
  background-color: #764e2b;
}

.TextList002148 li div {
  padding: 2% 4%;
}

.TextList002148 li time {
  position: absolute;
  left: 0;
  top: 12%;
  width: 160px;
  height: 160px;
  background-image: url(../uploadfiles/border2.jpg);
  background-size: 100% 100%;
  border-right: 1px solid #e9e9e9;
}

.TextList002148 li time:after {
  position: absolute;
  content: '';
  background: url(../images/TextList002148-time.gif) no-repeat;
  width: 11px;
  height: 19px;
  top: 50%;
  right: -11px;
  margin-top: -9px;
}

.TextList002148 li time span {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #764e2b;
  font-size: 16px;
}

.TextList002148 li time i {
  font-style: normal;
  font-size: 50px;
  color: #764e2b;
  display: block;
  font-family: "Courier New", Courier, monospace;
  line-height: 40px;
}

.TextList002148 li time i:after {
  display: block;
  content: '';
  margin: 5px auto;
  height: 1px;
  width: 66px;
  background: #dfdfdf;
}

.TextList002148 li h3 {
  margin: 0;
  font-size: 18px;
}

.TextList002148 li p {
  line-height: 26px;
  overflow: hidden;
  color: #764e2b;
  height: 72px;
  margin: 2% 0 0 0;
  text-align: justify;
}

@media(max-width:1000px) {
  .TextList002148 li {
    padding-left: 120px;
    padding-right: 30px;
  }

  .TextList002148 li:after {
    width: 30px;
    background-size: 35% auto;
  }

  .TextList002148 li time {
    width: 105px;
  }

  .TextList002148 li time span {
    font-size: 14px;
  }

  .TextList002148 li time i {
    font-size: 40px;
    line-height: 30px;
  }
}

@media(max-width:768px) {
  .TextList002148 li h3 {
    font-size: 16px;
  }
}

@media(max-width:480px) {
  .TextList002148 li {
    padding-left: 100px;
    padding-right: 0;
  }

  .TextList002148 li:after {
    display: none;
  }

  .TextList002148 li time {
    width: 85px;
  }

  .TextList002148 li time span {
    font-size: 12px;
  }

  .TextList002148 li time i {
    font-size: 30px;
  }

  .TextList002148 li h3 {
    font-size: 14px;
  }

  .TextList002148 li p {
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    height: 40px;
  }
}

/*
 .Page002193 为demo编号
 */
.Page002193 {
  zoom: 1;
  overflow: hidden;
  text-align: center;
  padding: 30px 0 5%;
  text-align: center;
}

.Page002193 span {
  padding: 0px 3px;
  display: inline-block;
}

.Page002193 a {
  display: inline-block;
  margin: 0px 2px;
  border: 1px solid #ededed;
  padding: 0 1em;
  color: #666;
  line-height: 35px;
  border-radius: 3px;
  transition: .3s ease-out;
}

.Page002193 a:hover {
  color: #fff;
  border: 1px solid #e50014;
  background: #e50014;
}

.Page002193 .p_cur,
.Page002193 .p_count,
.Page002193 .p_total,
.Page002193 .p_jump,
.Page002193 .a_first,
.Page002193 .a_end {
  display: none;
}

.Page002193 .p_cur b {
  color: #F00;
}

.Page002193 .p_count b {
  color: #F00;
}

.Page002193 .p_total b {
  color: #F00;
}

.Page002193 .p_page em {
  font-style: normal;
}

.Page002193 .p_page em a {}

.Page002193 .p_page em a.a_cur {
  color: #fff;
  background: #e50014;
  border-color: #e50014;
}

.Page002193 .p_page b {
  font-weight: normal;
}

/*Banner002720 */
.Banner002720 {
  position: relative;
  z-index: 1;
}

.Banner002720 .slick-slider {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent
}

.Banner002720 .slick-list {
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
}

.Banner002720 .slick-list:focus {
  outline: none
}

.Banner002720 .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.Banner002720 .slick-slider .slick-track,
.Banner002720 .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.Banner002720 .slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.Banner002720 .slick-track:before,
.Banner002720 .slick-track:after {
  display: table;
  content: '';
}

.Banner002720 .slick-track:after {
  clear: both;
}

.Banner002720 .slick-loading .slick-track {
  visibility: hidden;
}

.Banner002720 .slick-slide {
  display: none;
  float: left;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.Banner002720 .slick-slide .slick-loading img {
  display: none;
}

.Banner002720 .slick-slide .dragging img {
  pointer-events: none;
}

.Banner002720 .slick-initialized .slick-slide {
  display: block;
}

.Banner002720 .slick-loading .slick-slide {
  visibility: hidden;
}

.Banner002720 .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.Banner002720 .slick-arrow .slick-hidden {
  display: none;
}

.Banner002720 .video {
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.Banner002720 .video .ytable {
  height: 100%;
}

.Banner002720 .video .txt {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 47px;
}

.Banner002720 .video .txt>* {
  margin: 0;
  font-weight: normal;
}

.Banner002720 .video .txt h1 {
  font-family: '幼圆';
  font-size: 60px;
  letter-spacing: 5px;
}

.Banner002720 .video .txt h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 45px;
}

.Banner002720 .video .txt .play {
  background: url(../images/Banner002720_play.png) no-repeat;
  width: 47px;
  height: 47px;
  display: block;
  margin: 0 auto;
}

.Banner002720 .slick-slider {
  z-index: 1;
}

.Banner002720 .slick-dots {
  z-index: 20;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.Banner002720 .slick-dots li {
  list-style: none;
  position: relative;
  float: left;
  width: 32px;
  height: 32px;
  margin: 0 7px;
  cursor: pointer;
}

.Banner002720 .slick-dots li button {
  font-size: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: none;
  padding: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.Banner002720 .slick-dots li.slick-active {
  background: url(../images/Banner002720_controls.png) no-repeat center center;
}

.Banner002720 .slick-dots li.slick-active button {
  opacity: 0;
  -webkit-opacity: 0;
}

.video-Banner002720 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  background: rgba(0, 0, 0, 0.85);
}

.video-Banner002720 .close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 4;
  right: 20px;
  top: 20px;
}

.video-Banner002720 .close::before,
.video-Banner002720 .close::after {
  position: absolute;
  content: '';
  width: 80%;
  left: 10%;
  height: 3px;
  top: 50%;
  margin-top: -1.5px;
  background: #fff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}

.video-Banner002720 .close::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

.video-Banner002720 .ytable {
  height: 100%;
}

.video-Banner002720 .ytable-cell {
  text-align: center;
}

.video-Banner002720 video {
  width: 90%;
  max-width: 900px;
}

@media(max-width:1024px) {
  .Banner002720 .video .txt h1 {
    font-size: 40px;
  }

  .Banner002720 .video .txt h2 {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 20px;
  }
}

@media(max-width:640px) {
  .Banner002720 .video .txt h1 {
    font-size: 20px;
  }

  .Banner002720 .video .txt h2 {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  .Banner002720 .slick-dots li {
    width: 20px;
    height: 20px;
  }

  .Banner002720 .slick-dots li.slick-active {
    background-size: contain;
  }
}

@media(max-width:640px) {
  .Banner002720 .video .txt {
    padding-bottom: 30px;
  }

  .Banner002720 .video .txt .play {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
}

/*Floor000556*/
.Floor000556 {
  padding: 4% 0;
  background-image: url('../uploadfiles/bg2.jpg');
}

.Floor000556 .title {
  max-width: 915px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  overflow: hidden;
}

.Floor000556 .title a {
  color: #09C;
}

.Floor000556 .title aside {
  font-size: 30px;
}

.Floor000556 .title span {
  position: relative;
}

.Floor000556 .title span::before,
.Floor000556 .title span::after {
  position: absolute;
  content: '';
  height: 7px;
  width: 360px;
  background: url(../images/Floor000556_line.gif) repeat-x bottom center;
  top: 50%;
  margin-top: -3.5px;
}

.Floor000556 .title span::before {
  right: 100%;
  margin-right: 50px;
}

.Floor000556 .title span::after {
  left: 100%;
  margin-left: 50px;
}

.Floor000556 .tab {
  text-align: center;
  padding: 4% 0;
}

.Floor000556 .tab span {
  display: inline-block;
  padding: 18px 40px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.4s;
}


.Floor000556 .tab-info {
  display: none;
}

.Floor000556 .pro_list {
  position: relative;
  padding: 0 50px;
}

.Floor000556 .owl-stage-outer {
  overflow: hidden;
}

.Floor000556 .owl-item {
  float: left;
}

.Floor000556 .owl-nav {
  display: block;
}

.Floor000556 .owl-nav button {
  font-size: 0;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  background: none;
  cursor: pointer;
  padding: 0;
}

.Floor000556 .owl-nav button.owl-prev {
  left: 0;
}

.Floor000556 .owl-nav button.owl-next {
  right: 0;
}

.Floor000556 .owl-nav button::before {
  position: absolute;
  content: '';
  width: 50%;
  height: 50%;
  border-top: 3px solid #b48a56;
  border-right: 3px solid #b48a56;
  top: 25%;
  left: 25%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.Floor000556 .owl-nav button.owl-prev::before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.Floor000556 .owl-nav button:hover::before {
  border-color: #61421d;
}

.Floor000556 .item a {
  display: block;
  border-bottom: 5px solid #ddd;
  transition: 0.3s;
}

.Floor000556 .item a:hover {
  border-bottom-color: #b48a56;
}

.Floor000556 .item .pic {
  text-align: center;
  overflow: hidden;
  padding: 20px 0;
}

.Floor000556 .item .pic img {
  width: 100%;
  display: block;
  max-width: 220px;
  margin: 0 auto;
  transition: 0.3s;
}

.Floor000556 .item:hover .pic img {
  transform: scale(1.12, 1.12);
}

.Floor000556 .item p {
  margin: 0;
  text-align: center;
  padding: 5% 0 10% 0;
}

@media(max-width:480px) {
  .Floor000556 .title {
    font-size: 18px;
  }

  .Floor000556 .title aside {
    font-size: 26px;
  }
}

/*
 .Floor001640 为demo编号
 */
.Floor001640 {
  padding-top: 4%;
  /* padding-bottom: 4%; */
  background-image: url('../uploadfiles/bg3.jpg');
  background-size: cover;
}

.Floor001640 .txt {
  float: left;
  width: 56%;
}

.Floor001640 .txt .info p {
  line-height: 2;
  text-indent: 2em;
  margin: 0;
}

.Floor001640 .wrap {
  padding: 4% 0;
}

.Floor001640 .txt figure {
  padding-bottom: 3%;
  position: relative;
}

.Floor001640 .txt figure::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 2px;
  background-color: #b48a56;
  left: 0;
  bottom: -2px;
}

.Floor001640 .txt figure h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  color: #555;
}

.Floor001640 .txt figure span {
  color: #d5d5d5;
  text-transform: uppercase;
}


.Floor001640 .all_more {
  border: 1px solid #e0e0e0;
  font-weight: bold;
  font-size: 0.8em;
  display: inline-block;
  line-height: 2.85em;
  padding-left: 2.5em;
  padding-right: 3.5em;
  border-radius: 30px;
  background: url(../images/Floor001640-a_more.png) no-repeat 90% center;
  transition: all ease 0.5s;
}

.Floor001640 .all_more:hover {
  padding-right: 2.5em;
  background-color: #b48a56;
  background-position: 120% center;
  color: #fff;
  transition: all ease 0.5s;
}

.Floor001640 .pic {
  float: right;
  /* max-width: 42%; */
}


@media(max-width:768px) {

  .Floor001640 .txt,
  .Floor001640 .pic {
    float: none;
    width: auto;
  }
  .Floor001640 .pic img{
    height: auto!important;
  }
}

@media(max-width:480px) {
  .Floor001640 .txt figure h1 {
    font-size: 20px;
  }
}

/*
 .RighInfo002228 为demo编号
 */
.RighInfo002228 {
  padding: 3% 0;
}

.RighInfo002228 .auto {
  max-width: 1200px;
}

.RighInfo002228 .single-header {
  text-align: center;
}

.RighInfo002228 .single-header h1 {
  color: #333;
  font-size: 20px;
  margin: 0 0 10px 0;
  font-weight: normal;
}

.RighInfo002228 .single-header h3 {
  color: #815122;
  font-size: 16px;
  margin: 0;
  font-weight: normal;
  position: relative;
}

.RighInfo002228 .single-header h3:after {
  content: "";
  display: block;
  height: 1px;
  background-color: #f3eee9;
  width: 100%;
  z-index: 1;
  margin-top: 15px;
}

.RighInfo002228 .single-header h3 span {
  position: relative;
  z-index: 2;
  padding: 0 30px;
  background-color: #fff;
}

.RighInfo002228 .single-content {
  text-justify: inter-ideograph;
  text-align: justify;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  padding-top: 2%;
}

.RighInfo002228 .single-content p {
  text-indent: 2em;
  margin: 0;
  padding: 10px 0;
}

.RighInfo002228 .single-content .no-textindent {
  text-indent: 0;
  overflow: hidden;
  transition: .4s;
  text-align: center;
}
.RighInfo002228 .single-content .no-textindent img{
  transition: .4s;
  max-width: 960px;
}
.RighInfo002228 .single-content .no-textindent img:hover{
  /* transform: scale(1.1); */
  transition: .4s;
}

.RighInfo002228 .fr {
  float: none;
}

.RighInfo002228 .col2+.col2 {
  margin-top: 10px;
}

@media(max-width:950px) {
  .RighInfo002228 .auto {
    padding: 0 2%;
  }
}

@media screen and (min-width:465px) {
  .RighInfo002228 .col2 {
    width: 48%;
  }

  .RighInfo002228 .fr {
    float: right;
  }

  .RighInfo002228 .col2+.col2 {
    margin-top: 0;
  }
}

@media screen and (min-width:768px) {
  .RighInfo002228 .single-header h1 {
    font-size: 24px;
  }

  .RighInfo002228 .single-header h3 {
    font-size: 18px;
  }

  .RighInfo002228 .single-content p {
    padding: 16px 0;
    color: #4e4e4e;
    line-height: 1.92;
  }

  .RighInfo002228 .single-header h3:after {
    background-color: #f3eee9;
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-top: 0;
  }

}

@media screen and (min-width:1024px) {
  .RighInfo002228 .single-header h1 {
    font-size: 30px;
  }
}




/* Extra Start*/
@media screen and (min-width: 775px) {
  .hide-sub {
    display: none !important;
  }
}

.title {
  text-align: center;
}

.line {
  weight: 1px;
  border-right: 1px dotted rgb(165, 165, 165);
  padding: 16px 0;
}

a:hover {
  color: #b48a56;
}

.border-style {
  /* margin: auto 8px; */
}

.Floor000556 .tab .on,
.Menu002252 a.aon,
.border-style:hover,
.border-style:active {
  background-image: url('../uploadfiles/border1.png');
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.Menu002252 a.aon {
  font-weight: 600;
  color: #6e3c00;
}

.ys-container {
  background: url('../uploadfiles/bg4.jpg') no-repeat top center,
  url('../uploadfiles/bg42.jpg') left bottom;
}
.ys-padding{
  padding: 4% 0;
}
.ys-banner{
  height: 72px;
}
@media screen and (max-width: 950px){
  .ys-banner{
    position: absolute;
    left: 25%;
    height: 48px;
  }
}
/* Extra End */