.line1{
  background-color: #e9ce52;
  &::after{
    background-color: #e9ce52;
  }
}
.line2{
  background-color: #00669e;
  &::after{
    background-color: #00669e;
  }
}
.line3{
  background-color: #d59850;
  &::after{
    background-color: #d59850;
  }
}
.line4{
  background-color: #368448;
  &::after{
    background-color: #368448;
  }
}
.line5{
  background-color: #a60345;
  &::after{
    background-color: #a60345;
  }
}
.line5{
  background-color: #a60345;
  &::after{
    background-color: #a60345;
  }
}
.line6{
  background-color: #672658;
  &::after{
    background-color: #672658;
  }
}
.line7{
  background-color: #a7d32d;
  &::after{
    background-color: #a7d32d;
  }
}
.line8{
  background-color: #008a93;
  &::after{
    background-color: #008a93;
  }
}
.line9{
  background-color: #93cd9d;
  &::after{
    background-color: #93cd9d;
  }
}
.line10{
  background-color: #798fb4;
  &::after{
    background-color: #798fb4;
  }
}
.line11{
  background-color: #41166d;
  &::after{
    background-color: #41166d;
  }
}
.line12{
  background-color: #596027;
  &::after{
    background-color: #596027;
  }
}
.line13{
  background-color: #86871e;
  &::after{
    background-color: #86871e;
  }
}
.line14{
  background-color: #6b2d2d;
  &::after{
    background-color: #6b2d2d;
  }
}
.line15{
  background-color: #a18776;
  &::after{
    background-color: #a18776;
  }
}
.line16{
  background-color: #996f43;
  &::after{
    background-color: #996f43;
  }
}
.line17{
  background-color: #8683d2;
  &::after{
    background-color: #8683d2;
  }
}
.line18{
  background-color: #c089c5;
  &::after{
    background-color: #c089c5;
  }
}
.line19{
  background-color: #9d37b6;
  &::after{
    background-color: #9d37b6;
  }
}
.line20{
  background-color: #b20071;
  &::after{
    background-color: #b20071;
  }
}
.line21{
  background-color: #221d55;
  &::after{
    background-color: #221d55;
  }
}
.line22{
  background-color: #152648;
  &::after{
    background-color: #152648;
  }
}
.linegf{
  background-color: #c4d52a;
  &::after{
    background-color: #c4d52a;
  }
}
.linegfr{
  background-color: #a597d8;
  &::after{
    background-color: #a597d8;
  }
}
.lineapm{
  background-color: #57b8e2;
  &::after{
    background-color: #57b8e2;
  }
}